<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>

<body>
    <main>
        <input type="range" min="0" max="10" v-model="threshold">
        <ul>
            <li v-for="juego in mejoresJuegos">
                {{ juego.titulo | alReves}}
            </li> 
        </ul>
    </main>
    <script src="https://unpkg.com/vue@2.3.3"></script>
    <script src="js/main.js"></script>
</body>

</html>